<style>
    .input-group-text {
        background-color: #ffffff !important;
        cursor: pointer;
    }
    .passwordInput {
        border-right: none !important;
    }
</style>
<div class="row mt-2 d-flex justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <form action="" id="formPassword">
            <div class="row g-2">
                <div class="col-12 pt-1">Password</div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control passwordInput" id="oldPass" minlength="6" required>
                        <span class="input-group-text" id="showoldPass" onclick="showPass('oldPass')"><i class="bi bi-eye-slash"></i></span>
                    </div>
                </div>
                <div class="col-12 pt-1">New Password</div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control passwordInput" id="newPass" minlength="6" required>
                        <span class="input-group-text" id="shownewPass" onclick="showPass('newPass')"><i class="bi bi-eye-slash"></i></span>
                    </div>
                </div>
                <div class="col-12 pt-1">Confirm New Password</div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control passwordInput" id="cfNewPass" minlength="6" required>
                        <span class="input-group-text" id="showcfNewPass" onclick="showPass('cfNewPass')"><i class="bi bi-eye-slash"></i></span>
                    </div>
                </div>
                <div class="col-12 text-danger" id="msg"></div>
                <button type="submit" id="btnPassword" class="btn btn-primary mt-3 py-2">Change Password</button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#formPassword").submit(function (e) {
        e.preventDefault();
        if($('#newPass').val() != $('#cfNewPass').val()) {
            $('#msg').html('password not match');
            return;
        }
        $.ajax({
            contentType: 'application/json',
            url: baseURL + "/user/updatePassword",
            method: "post",
            data: JSON.stringify({
                oldPass: $('#oldPass').val(),
                newPass: $('#newPass').val()
            }),
        }).done(function (res) {
            if (res.status == 1) {
                Swal.fire({
                    title: "Success",
                    text: "Update password success",
                    icon: "success",
                    showCancelButton: false,
                    confirmButtonColor: "#007bff",
                    confirmButtonText: "OK"
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
                // location.reload();
            } else {
                $('#msg').html(res.msg);
            }
        });
    });

    function showPass(id) {
        var att = $('#' + id).attr('type');
        if(att == 'password') {
            $('#' + id).attr('type', 'text');
            $('#show' + id).html('<i class="bi bi-eye"></i>')
        } else {
            $('#' + id).attr('type', 'password');
            $('#show' + id).html('<i class="bi bi-eye-slash"></i>')
        }    
    }
</script>