<%- include('./template'); %>
    <div class="container-fluid">
        <div class="row pt-5">
            <div class="col-sm-12 col-md-6 ps-5 pt-5 d-none d-sm-block" id="projectName" style="color: white;">
                <div class="fs-1 ps-5">Project of</div>
                <div class="ps-5 projectName">Waste Map</div>
                <div class="ps-5 projectName">Management</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <div class="shadow mt-5 py-5 px-4 cardForm">
                        <h3 class="text-center pb-4 text-head">Forgot Password</h3>
                        <div class="alert alert-danger d-none" id="msg" role="alert">
                        </div>
                        <form id="forgotForm">
                            <div class="mb-3">
                                <input type="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="d-grid gap-2 mt-5">
                                <button type="submit" id="btnSendMail" class="btn fs-5 btnSubmit">Send Email 
                                    <div class="spinner-border spinner-border-sm d-none" id="waiting" style="color: #2A6800;" role="status"><span class="visually-hidden">Loading...</span></div>
                                </button>
                            </div>
                            <div class="text-center mt-3 msgAccount">Not a member yet? <a class="linkPage" href="register">Sign up</a> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#forgotForm').submit(function (e) {
            e.preventDefault();
            $('#btnSendMail').addClass('disabled');
            $('#waiting').removeClass('d-none');
            $.ajax({
                contentType: 'application/json',
                url: baseURL + "/sendResetCode",
                method: "post",
                data: JSON.stringify({
                    email: $('#email').val(),
                }),
            }).done(function (res) {
                $('#btnSendMail').removeClass('disabled');
                $('#waiting').addClass('d-none');
                if (res.status == 1) {
                    Swal.fire({
                        title: "Send email success",
                        text: "Please check your email",
                        icon: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#007bff",
                        confirmButtonText: "OK"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = baseURL + "/login";
                        }
                    });
                } else {
                    $('#msg').removeClass('d-none');
                    $('#msg').html(res.msg);
                }
            });

        });

        $('.projectName').click(function(e) {
            window.location.href = "";
        })
    </script>
    <%- include('../template/footer'); %>