<%- include('./template'); %>
<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-sm-12 col-md-6 ps-5 pt-5 d-none d-sm-block" id="projectName" style="color: white;">
            <div class="fs-1 ps-5">Project of</div>
            <div class="ps-5 projectName">Waste Map</div>
            <div class="ps-5 projectName">Management</div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="d-flex justify-content-center">
                <div class="shadow mt-5 py-5 px-4 cardForm">
                    <h3 class="text-center pb-4 text-head">Sign In</h3>
                    <form id="loginForm" class="mt-4">
                        <div class="alert alert-danger d-none" id="msg" role="alert"></div>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                    minlength="6" required>
                                <span class="input-group-text" id="showPass"><i class="bi bi-eye-slash"></i></span>
                            </div>
                        </div>
                        <div class="text-end" style="font-size: 12px;"><a class="linkPage" href="forgot">Forgot your
                                password?</a>
                        </div>
                        <div class="d-grid gap-2 mt-5">
                            <button type="submit" id="btnLogin" class="btn fs-5 btnSubmit">Sign In 
                                <div class="spinner-border spinner-border-sm d-none" id="waiting" style="color: #2A6800;" role="status"><span class="visually-hidden">Loading...</span></div>
                            </button>
                        </div>
                    </form>
                    <div class="text-center mt-3 msgAccount">Not a member yet? <a class="linkPage" href="register">Sign up</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#loginForm').submit(function (e) {
        e.preventDefault();
        $('#btnLogin').addClass('disabled');
        $('#waiting').removeClass('d-none');
        $.ajax({
            contentType: 'application/json',
            url: baseURL + "/login",
            method: "post",
            data: JSON.stringify({
                email: $('#email').val(),
                password: $('#password').val()
            }),
        }).done(function (res) {
            if (res.status == 1) {
                location.href = baseURL;
            } else {
                $('#msg').removeClass('d-none');
                $('#msg').html(res.msg);
                $('#btnLogin').removeClass('disabled');
                $('#waiting').addClass('d-none');
            }
        });
    });
    $('#showPass').click(function (e) {
        var att = $('#password').attr('type');
        if (att == 'password') {
            $('#password').attr('type', 'text');
            $('#showPass').html('<i class="bi bi-eye"></i>')
        } else {
            $('#password').attr('type', 'password');
            $('#showPass').html('<i class="bi bi-eye-slash"></i>')
        }
    });

    $('.projectName').click(function(e) {
        window.location.href = "";
    })

</script>

<%- include('../template/footer'); %>