<%- include('./template'); %>
    <div class="container-fluid">
        <div class="row pt-5">
            <div class="col-sm-12 col-md-6 ps-5 pt-5 d-none d-sm-block" id="projectName" style="color: white;">
                <div class="fs-1 ps-5">Project of</div>
                <div class="ps-5 projectName">Waste Map</div>
                <div class="ps-5 projectName">Management</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <div class="shadow mt-5 py-5 px-4 cardForm">
                        <h3 class="text-center pb-4 text-head">Reset password</h3>
                        <div class="alert alert-danger d-none" id="msg" role="alert">
                        </div>
                        <form id="resetForm">
                            <div class="mb-3">
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" id="password" placeholder="New password" minlength="6" required>
                                    <span class="input-group-text" id="showPass"><i class="bi bi-eye-slash"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" id="cfPassword" placeholder="Confirm password" minlength="6" required>
                                    <span class="input-group-text" id="showCfPass"><i class="bi bi-eye-slash"></i></span>
                                </div>
                            </div>
                            <input type="hidden" id="code" value="<%- resetCode %>">
                            <div class="d-grid gap-2 mt-5">
                                <button type="submit" id="btnReset" class="btn fs-5 btnSubmit">Reset password 
                                    <div class="spinner-border spinner-border-sm d-none" id="waiting" style="color: #2A6800;" role="status"><span class="visually-hidden">Loading...</span></div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script>
        $('#resetForm').submit(function (e) {
            e.preventDefault();
            if($('#password').val() != $('#cfPassword').val()) {
                $('#msg').removeClass('d-none');
                $('#msg').html("Password and confirm password does not match");
                return;
            }
            $('#btnReset').addClass('disabled');
            $('#waiting').removeClass('d-none');
            $.ajax({
                contentType: 'application/json',
                url: baseURL + "/resetPassword",
                method: "post",
                data: JSON.stringify({
                    code: $('#code').val(),
                    password: $('#password').val()
                }),
            }).done(function (res) {
                if (res.status == 1) {
                    Swal.fire({
                        title: "Success",
                        text: "Update password success",
                        icon: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#007bff",
                        confirmButtonText: "Login"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = baseURL + "/login";
                        }
                    });

                } else {
                    $('#btnReset').removeClass('disabled');
                    $('#waiting').addClass('d-none');
                    $('#msg').removeClass('d-none');
                    $('#msg').html(res.msg);
                }
            });
        });
        $('#showPass').click(function (e) {
            var att = $('#password').attr('type');
            if (att == 'password') {
                $('#password').attr('type', 'text');
                $('#showPass').html('<i class="bi bi-eye"></i>')
            } else {
                $('#password').attr('type', 'password');
                $('#showPass').html('<i class="bi bi-eye-slash"></i>')
            }
        });
        $('#showCfPass').click(function (e) {
            var att = $('#cfPassword').attr('type');
            if (att == 'password') {
                $('#cfPassword').attr('type', 'text');
                $('#showCfPass').html('<i class="bi bi-eye"></i>')
            } else {
                $('#cfPassword').attr('type', 'password');
                $('#showCfPass').html('<i class="bi bi-eye-slash"></i>')
            }
        });

        $('.projectName').click(function(e) {
            window.location.href = "";
        })
    </script>
    <%- include('../template/footer'); %>